
<div class="page">
  <div class="line">
    <div class="card">
      <div [chart]="pie"></div>
    </div>
    <div class="card">
      <div [chart]="column"></div>
    </div>    
  </div>
  
  <div class="line">
    <table>
      <thead>
        <tr>
          <td>Coluna1</td>
          <td>Coluna2</td>
          <td>Coluna3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>123</td>
          <td>123</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>